*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Navigation*/
.navbar{
    background-color:#201f1f;
	height:4rem;
}
.nav-item{
	border-bottom: 3px solid;
}
.nav-item a{
	border-bottom: 2px solid transparent;
   transition: .2s  ease;
}
.nav-item a:hover{
	cursor: pointer;
	border-bottom-color:  orange;
}
.navbar-collapse{
	background-color:#201f1f ;
}
.navbar-toggler-icon{
	color:#fff;
}
.navbar-toggler span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
/* banner section headerl*/
.header .banner {
	position: relative;
	min-height: 700px;
}
.header .banner >* {
	z-index: 6;
	position: relative;
}
 .header .banner:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
    width:100%;
    height:100%;
	background-image: url(../images/paint.jpg);
	background-size: cover;
	opacity: 0.94;
	background-repeat: no-repeat;
}
.header .banner:after{
	content: '';
	display: block;
	background-color: #fff;
	opacity: 0.94;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	position:absolute;
	z-index:5;
}
.header .ethical{
	color:orange;
}
.header .text-line h1{
	font-size: 3rem;
	font-weight:900;
	margin-top:5rem;
}
.header .side-text  p{
	color:gray;
	margin-left:2rem;
}
.header  .paint-img img{
	height:18rem;
	margin-top:8rem;
	width:50%;
	object-fit: cover;
    margin-left:10rem;
}
.header .btn-btn{
    background-color:orange;
    border:none;
	border-radius:50px;
	width:12rem;
	height:3rem;
	margin-left:2rem;
}
/*Section about*/
.text{
	color:orange;
}
.about {
	color:orange;
}
.about p{
	color:gray;
	font-size: 15px;
}
.btn-more{
	width:8rem;
	height:3rem;
}

/*section provide*/
.electrician img{
	width:100%;
	object-fit: cover;
}
.block-title{
	max-width: 710px ;
	margin:0 auto;
}
.block-titles{
	max-width:703px;
	margin:0 auto;
}
/*section choose us*/
.text-center P{
	color:gray;
}
.nextbanner {
	position: relative;
	min-height: 350px;
}

.provide .banner >* {
	z-index: 6;
	position: relative;
}
.nextbanner:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
   width:100%;
   height:100%;
	background-image: url(../images/paint.jpg);
	background-size: cover;
	opacity:0.95;
	background-repeat: no-repeat;
}
.nextbanner:after{
	content: '';
	display: block;
	background-color: #fff;
	opacity: 0.94;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	position:absolute;
	z-index:5;
}
.box-one{
	background-color:orange;
	height:13rem;
}
.box-one i{
	color:#fff;
	font-size: 3rem;
   text-align:center;
   padding-left:7rem;
   margin-top:2rem;
}
.box-one h5 a{
	text-decoration: none;
	color:#fff;
	padding-left:5rem;
}
.box-two{
	height:13rem;
	background-color:#fff;
}
.box-two i{
	color:orange;
	font-size: 3rem;
   text-align:center;
   padding-left:9rem;
   margin-top:2rem;
}
.box-two h5 a{
	text-decoration: none;
	color:black;
	padding-left:5rem;
}
.box-three{
	height:13rem;
	background-color:#fff;
}
.box-three i{
	color:orange;
	font-size: 3rem;
   text-align:center;
   padding-left:7rem;
   margin-top:2rem;
}
.box-three h5 a{
	text-decoration: none;
	color:black;
	padding-left:5rem;
}
.box-four{
	background-color: orange;
	height:13rem;
}
.box-four i{
	color:#fff;
	font-size: 3rem;
   text-align:center;
   padding-left:7rem;
   margin-top:2rem;
}
.box-four h5 a{
	text-decoration: none;
	color:white;
	padding-left:6rem;
}
.list ul {
	counter-reset: feature;
}
.list ul li {
	position:relative;
	display:block;
	border:2px solid white;
	border-radius:200rem;
	width:3rem;
	height:3rem;
	margin-top:1rem;
	color:#fff;
}
.list ul li:before {
	counter-increment: feature;
	content:"0" counter(feature);
}
.htext{
	color:orange;
}
/*section achievement*/
.achievement .card .icon i{
	font-size:2rem;
	text-align: center;
	padding-top:11px;
}
.achievement .card .one{
	color:#ffa500;
	border:10px solid orange;
	border-radius: 150rem;
	background-color: #DF7905;
	height:4.5rem;
	width:4.5rem;
	margin:29px 0 0 25px;

}
.achievement .card{
	box-shadow:0px 0px 10px rgb(0 0 0 / 15%);
	width:20rem;
}
.achievement .card .one:hover{
	cursor: pointer;
	background-color:#ffa500;
}
.achievement .card .fa-clock-o:before{
	color:#fff;
}
.achievement .card .fa-map:before{
	color:#fff;
}
.achievement .card .fa-male:before{
	color:#fff;
}
.achievement .card .fa-building:before{
	color:#fff;
}
.achievement .card-body  .card-title{
	font-size:25px;
	font-weight: bold;
}
.achievement .card-body  .card-text{
	font-size:15px;
	font-weight: 600;
}
/*manpower*/
.manpower {
	position: relative;
	overflow: hidden;
}

.manpower__background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.manpower__background img {
	object-fit: cover;
	object-position: right;

    width: 100%;
}

.manpower .background{
	background-color: #DF7905;
}
.manpower .row-one h3{
	color:#fff;
	font-weight: 700;
	margin:80px 0 0 35px;
}
.manpower .row-two h3{
	color:#fff;
	margin:20px 0 0 35px;
	font-weight: 700;
}
.manpower .btn{
	background-color: white;
	font-size: 1rem;
	color:black;
	border:none;
	padding-left:35px;
	padding-right:35px;
	margin:40px 0 100px 35px;
}
/*our partners*/
.partner .card-group .card{
	background-color:white;
	opacity:0.3;
}
.partner .card-group .card:hover{
	cursor: pointer;
	opacity:1;
}
.section-title{
	margin-bottom: 30px;
    text-align: center;
    position: relative;
    z-index: 22;
	margin:10rem;
}
.section-title h3{
	color:#DF7905;
	font-weight: 700;
	font-size: 3rem;
}
.title-bg{
	color: #eee;
    font-size: 180px;
    line-height: 0;
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    opacity: 0.8;
    font-weight: 700;
    z-index: -1;
    text-transform: capitalize;
}
.card-group .card {
	flex: 0 0 50.67%;
	max-width: 15.67%;
	align-items: center;
	justify-content: center;
}
/*section worried*/

.worried .Professional{
	background-color:#ffa500;
}
.worried h4{
	color:#fff;
	margin-top:5rem;
	font-weight: 700;
}
.worried h4 i{
	font-size:1.5rem;
}
.worried .form-select{
	width:60%;
	height:3rem;
	background-color:#fff3;
	border:none;
	color:#fff;
}
.worried .form-select:option{
	color:white;
}
.worried .form-control{
	width:60%;
	height:3rem;
	background-color:#fff3;
	border:none;
}
.worried .professional-inner p{
	color:white;
}
.worried .form-control input{
	color:white;
	border:none;

}
.worried input::placeholder {
	color: white;
	font-size: 1rem;
}
.worried .Professional h3{
	color:#fff;
	padding-top:5rem;
	
	padding-left:3rem;
}
.worried .Professional-part{
   background-color:#201f1f;
   opacity:90%;
}
.worried .Professional-part h3{
	color:#fff;
	padding-top:5rem;
	padding-left:3rem;
}
.worried .Professional-part ul li {
	color:#fff;
	list-style: none;
	padding-left:3rem;
	font-size:15px;
	font-weight: 600;
}
.second-line p{
	color:white;
	padding-left:3rem;
	font-size: 13px;
}
.worried .third-line i{
	border-radius: 90px;
	border:1px solid #ffa500;
	height:2rem;
	width:2rem;
	background-color: #ffa500;
	text-align:center;
	padding-top:.5rem;
	margin-top:1rem;
	margin-right:1rem;
}
.worried .btn{
	background-color: white;
	color:orange;
	width:20%;
	height:3rem;
	font-size:15px;
	font-weight: 600;
	margin-bottom:8rem;
}
.worried .btn:hover{
	background-color: black;
	opacity:80%;
	cursor: pointer;
}
.worried .form-control input{
	width:100%;
}
 
/*candidate section*/
.candidates .main-heading-line h1{
	color:#DF7905;
	font-size:35px;
	font-weight:800;
	text-align: center;
	padding-top:2rem;
}
.candidates .image-slider{
	height:5rem;
	width:100%;
	background-color:pink;
}
/*footer*/
.footer{
	height:35rem;
	background:#201f1f;
	opacity:0.9;
}
.footer hr{
	color:gray;
	margin-top:10rem;
	width:50%;
	margin-left:25%;
}
.footer p{
	color:white;
	margin-left:40%;
}
.footer .col-first{
	color:white;
	padding-left:15rem;
	padding-top:5rem;
}
.footer .col-second{
	color:white;
	padding-top:5rem;
}
.footer .col-third{
	color:white;
	padding-top:5rem;
}
